@using AspNetCoreIdentityApp.Web.ViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
@model PasswordResetModel
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Password Reset</h1>
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">@TempData["success"]</div>
        }
        <div class="alert alert-info">Reset link will send to email address</div>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form method="post">            
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>  
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>