@using AspNetCoreIdentityApp.Web.ViewModel
@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPass


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>ResetPassword</h1>
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">@TempData["success"]</div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
        </div>
        <form method="post">@*This form will be posted to same action but the one has httppost attribute*@
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="PasswordConfirm"></label>
                <input class="form-control" asp-for="PasswordConfirm">
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>