@using AspNetCoreIdentityApp.Web.ViewModel
@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">    
    <div class="col-md-6 offset-md-3">
        <h1>SignUp</h1>
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">@TempData["success"]</div>
        }
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
            
        </div>
        <form asp-controller="Home" asp-action="SignUp" method="post">
            <div class="mb-3">
                <label for="UserName" class="form-label" asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName">
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label" asp-for="PhoneNumber"></label>
                <input class="form-control" asp-for="PhoneNumber">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="PasswordConfirm"></label>
                <input class="form-control" asp-for="PasswordConfirm">
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>
